:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --mouse-x: 0;
    --mouse-y: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: radial-gradient(ellipse at var(--mouse-x, 0%) var(--mouse-y, 0%), #1e1f36, #0b0c14);
    font-family: sans-serif;
    color: white;
    position: relative;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(5px + 2vmin);
    color: white;
}

.chat {
    display: flex;
    flex-direction: column;
    font-size: calc(1px + 2vmin);
    color: white;
    align-self: flex-end;
    width: 15%;
    max-width: 400px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
}

.innerChat {
    flex-grow: 1;
    overflow-y: auto;
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
    border: 2px solid purple;
    color: white;
    background: #2c0e38;
}

.game-title {
    font-family: 'Poppins', sans-serif;
    font-size: 6rem;
    font-weight: 900;
    text-align: center;
    margin-top: 100px;
    background: linear-gradient(90deg, #782699, #7afcff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 5px rgba(120, 38, 153, 0.3), 0 0 10px rgba(122,252,255,0.2);
    transition: text-shadow 0.1s ease;
}

.inputField {
    color: white;
}

.popup {
    position: fixed;
    z-index: 10;
    top: 15%;
    left: 15%;
    right: 15%;
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    cursor: default;
    font-size: calc(4px + 2vmin);
    user-select:none !important;
    backdrop-filter: blur(10px);
}

.fadeUp {
    opacity: 0;
    transform: translateY(5%);
    transition: transform 0.5s ease-out, opacity 1s ease-out;
}

.fadeUp.fade-in {
    opacity: 1;
    transform: translateY(0%);
}

.card-selectable {
    display: inline-block;
    margin: 1em;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    min-width: 50%;
}

@keyframes twitch {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-1px);
    }
    75% {
        transform: translateX(1px);
    }
}

.card-selectable:hover {
    transform: scale(1.05);
    animation: twitch 0.3s ease-in-out infinite;
}